*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(203, 185, 191);
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
}
#topPanel{
    justify-content: space-between;
    padding: 0px 30%;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: black
    ;
    width: 100%;
    height: 80px;
    background-color: rgb(199, 138, 181);
}
#bottomPanel
{
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    
}
.elem{
    display: flex;
   align-items: center;
   gap: 15px;
}

.box{
    
    padding: 10px 20px;
    border-radius: 5px ;
    background-color: white;
    color: rgb(168, 49, 154);
    font-size: 20px;
    
}
.circle{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(197, 101, 166);
    color: white;
    font-size: 23px;

}

.circle:hover{
    cursor: pointer;
    background-color: rgb(189, 21, 144);
}